body {
  font-family: Arial, sans-serif;
  color: #b780ed;
  margin: 0;
  padding: 0;
}

.descripción {
  text-align: center;
  padding: 60px 20px;
  background-color: #2a1341;
}

.contenido {
  background-color: #222224;
  padding: 30px;
  margin: 20px;
  border-radius: 10px;
}

.contenido h2 {
  color: #2e90a3;
  margin-top: 20px;
}

.contenido p, .contenido li {
  line-height: 1.6;
}

.contenido a {
  color: #00ffcc;
  text-decoration: none;
  font-weight: bold;
}
.contenido a:hover {
  color: #b780ed;
}

.pie {
  text-align: center;
  padding: 20px;
  background-color: rgba(20, 20, 20, 0.8);
  font-size: 0.9em;
  margin-top: 30px;
}
.barra-contenedor {
  width: 100%;
  max-width: 500px;
  height: 25px;
  background-color: #555;
  border-radius: 20px;
  overflow: hidden;
  margin: 10px 0 20px 0;
}

.barra-progreso {
  height: 100%;
  width: 36.36%; /* 20000 de 55000 → (20000/55000)*100 = 36.36% */
  background-color: #00ff99;
}
